* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(8px);
  background: transparent;
}

nav {
  width: 100%;
  padding: 14px 30px;
  margin: 10px auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 30px;
  list-style: none;
}

.nav-li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #7f5cff;
  transition: width 0.3s;
  margin-top: 5px;
}

.nav-li:hover::after {
  width: 100%;
}

.nav-title {
  font-size: 20px;
  font-weight: bold;
  color: #f9f9fb;
  margin-left: 20px;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0 0 6px rgba(127, 92, 255, 0.6);
}

.nav-li {
  margin: 0 30px;
  list-style: none;
}

.nav-middle {
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

.btn-touch {
  padding: 8px 16px;
  background: linear-gradient(135deg, #6d5dfc, #00d4ff);
  border-radius: 999px;
  color: white;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;
}

.btn-touch:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #7f5cff;
  box-shadow:
    0 0 8px #7f5cff,
    0 0 16px #00d4ff;
}

nav ul li a {
  text-decoration: none;
  color: rgb(125, 114, 211);
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.me {
  width: 800px;
  margin-left: 100px;
}

.name {
  /*text-align: left;*/
  padding: 10px 50px 5px 150px;
  color: #f9fafb;
  margin-top: 120px;
  font-size: 72px;
}

.role {
  color: #8b5cf6;
  /*text-align: left;*/
  padding: 5px 50px 5px 150px;
  margin-top: 10px;
  font-size: 42px;
}

.desc {
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 15px 50px 15px 150px;
  color: #9ca3af;
  margin-bottom: 15px;
  line-height: 1.7;
  letter-spacing: 0.8px;
}

.btns {
  margin-left: 155px;
  margin-top: 20px;
  /*transition: all 1s ease;*/
}
.view,
.get {
  padding: 8px 14px;
  margin-right: 15px;
  text-decoration: none;
  background-color: #8b5cf6;
  columns: white;
  border-radius: 8px;
}
.view:hover,
.get:hover {
  background-color: #22d3ee;
  color: #0f172a;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease;
  box-shadow: 0.8px 0.8px 0.8px 0.8px #b897b4;
}

.code-box {
  width: 520px;
  min-height: 320px;
  background: #020617;
  border-radius: 16px;
  box-shadow: 0 0 40px rgba(139, 92, 246, 0.35);
  padding: 14px;
  margin-top: 150px;
  margin-right: 100px;
  animation: float 2s ease-in-out infinite;
}

.code-header {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background: #ff5f56;
}

.yellow {
  background: #ffbd2e;
}

.green {
  background: #27c93f;
}

.code-box pre {
  background: #020617;
  color: #22d3ee;
  padding: 14px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: auto;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.project {
  text-align: center;
  padding: 20px 50px 20px 50px;
  margin-top: 90px;
  margin-left: auto;
  font-size: 35px;
  color: #c084fc;
}

.cards-wrapper {
  width: 100%;
  padding: 20px 0;
}

.cards-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
}

.card {
  background-color: #1e293b;
  border-radius: 15px;
  margin-top: 70px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  transition:
    transform 1s ease,
    box-shadow 1s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0px -30px 60px rgba(255, 255, 255, 0.3);
}

.card h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #f9fafb;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
  color: #cbd5f5;
}

.card-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.card-actions a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 18px;
  border-radius: 999px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.card-actions a:first-child,
.card-actions a:last-child {
  background-image: linear-gradient(
    to right top,
    #2c4263,
    #3c4980,
    #5c4c98,
    #8748a8,
    #8f0584
  );
  color: #bbabab;
}

.git {
  width: 18px;
  height: 18px;
}

.cover {
  height: 290px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.skills {
  padding: 80px 0;
  text-align: center;
}

.skills h2 {
  font-size: 35px;
  color: #c084fc;
  margin-bottom: 50px;
}

.skills-grid {
  border: 2px solid #334155;
  border-radius: 14px;
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 28px;
  padding: 80px 60px;
}

.skill-box {
  position: relative;
  background: #1e393b;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 160px;
  height: 170px;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition:
    transform 0.6s ease,
    box-shadow 0.4s ease;
}

.skill-box img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill-box span {
  font-size: 16px;
  color: #e5e7eb;
  letter-spacing: 0.9px;
}

.skill-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1.5px;
  background: linear-gradient(135deg, #8a7dff, #ff4fd8);
  opacity: 0;
  transition: opacity 0.4s ease;
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.skill-box:hover::before {
  opacity: 1;
}
.skill-box:hover {
  transform: translateY(-12px);
  box-shadow:
    0 0 10px rgba(138, 125, 255, 0.55),
    0 0 20px rgba(255, 79, 216, 0.35);
}
